.show {
  display: block;
}
.hidden {
  display: none;
  visibility: hidden;
}
.invisible {
  visibility: hidden;
}


.showUnselectedBodyMain
{
  background-image:url('/images/human_body.png');
  width:300px; height: 450px; background-size: cover;
  background-position: center;  background-repeat: no-repeat;
  background-size: contain;
  

}


.showUnselectedBody
{
  background-image:url('/images/human_body.png');
  width: 100%; height:100%; background-size: cover;
  background-position: center;  background-repeat: no-repeat;
  background-size: contain;
}


.showShoulder
{
  background-image:url('/images/human_body_shoulder_red.png');
  width: 100%; height: 100%; background-size: cover; 
   background-position: center;  background-repeat: no-repeat;
    background-size: contain;
}

.showNeck
{
  background-image:url('/images/human_body_neck_red.png');
  width: 100%; height:100%; background-size: cover; 
   background-position: center;  background-repeat: no-repeat;
    background-size: contain;
}

.showRightBiceps
{
  background-image:url('/images/human_body_right_biceps_red.png');
  width: 100%; height: 100%; background-size: cover; 
   background-position: center;  background-repeat: no-repeat;
    background-size: contain;
}

.showLeftBiceps
{
  background-image:url('/images/human_body_left_biceps_red.png');
  width: 100%; height: 100%; background-size: cover; 
   background-position: center;  background-repeat: no-repeat;
    background-size: contain;
}

.showChest
{
  background-image:url('/images/human_body_chest_red.png');
  width: 100%; height: 100%; background-size: cover; 
   background-position: center;  background-repeat: no-repeat;
    background-size: contain;
}





.showWaist
{
  background-image:url('/images/human_body_waist_red.png');
  width: 100%; height: 100%; background-size: cover; 
   background-position: center;  background-repeat: no-repeat;
    background-size: contain;
}

.showHip
{
  background-image:url('/images/human_body_hip_red.png');
  width: 100%; height: 100%; background-size: cover; 
   background-position: center;  background-repeat: no-repeat;
    background-size: contain;
}

.showLeftLeg
{
  background-image:url('/images/human_body_left_leg_red.png');
  width: 100%; height: 100%; background-size: cover; 
   background-position: center;  background-repeat: no-repeat;
    background-size: contain;
}

.showLeftForeArm1
{
  background-image:url('/images/human_body_left_forearm.png');
  width: 100%; height: 100%; background-size: cover; 
   background-position: center;  background-repeat: no-repeat;
    background-size: contain;
}

.showRightForeArm1
{
  background-image:url('/images/human_body_right_forearm.png');
  width: 100%; height: 100%; background-size: cover; 
   background-position: center;  background-repeat: no-repeat;
    background-size: contain;
}

.showRightLeg
{
  background-image:url('/images/human_body_right_leg_red.png');
  width: 100%; height: 100%; background-size: cover; 
   background-position: center;  background-repeat: no-repeat;
    background-size: contain;
}

.showLeftCalf
{
  background-image:url('/images/human_body_left_calf_red.png');
  width: 100%; height: 100%; background-size: cover; 
   background-position: center;  background-repeat: no-repeat;
    background-size: contain;
}

.showRightCalf
{
  background-image:url('/images/human_body_right_calf_red.png');
  width: 100%; height: 100%; background-size: cover; 
   background-position: center;  background-repeat: no-repeat;
    background-size: contain;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color:#DCDCDC;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-right .5s;
    transition: margin-left .5s;

    padding: 16px;
}



