#footer
{
   
    padding:20px;
    color:#fff;
    background:#333;
}

body .modal-dialog { /* Width */
    max-width: 100%;
    width: auto !important;
    display: inline-block;
}

.transparent_button
{
  background-color: transparent; 
  border-color: transparent;
}


.modal.in{
     text-align: center;
}

.fill { 
    min-height: 100%;
    height: 100%;
}

body{
	 
   

}

.green_main
{
  color:#68EFAD;
}


div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    text-align: center;
   
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #777;
}


.profile_img
{
	width:100%;
	height:130px;
}

.sidenavLeft {
    height: 100%;
    width: 100%;
    
    z-index: 1;
    top: 0;
    left: 0;
     background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
    overflow-x: hidden;
    transition: 1s;
}

.sidenavLeft a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
     background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));    display: block;
    transition: 0.3s;
}

.sidenavLeft a:hover {
    color: #f1f1f1;
}

.sidenavLeft .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.Column
{
    display: table-cell;
    
}

.btn{
  border:0px solid transparent; /* this was 1px earlier */

 }
.btn-primary
{
    background-color: #9B26AF ; 
}

.btn-primary:hover, .btn-primary:active, .btn-primary:visited 
{
   background-color:rgb(92, 19, 120) ; 
}







.Row
{
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
}

.navButtonMain
{
     margin-bottom:10px;
     padding:10%;
     border-radius: 0px;
     background-color:transparent;

}

.navButtonMain:hover
{
  background-color: rgba(147, 147, 147, 0.37) ; 
}

.sidenavLeft {
    height: 100%;
    width: 210px;
    @media (max-width: 575.98px) {  width: 35px; }
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
     background: linear-gradient(to right, #9B26AF, #4a0892);    
     display: block;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenavLeft a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #2298cc;
    display: block;
    transition: 0.3s;
}

.sidenavLeft a:hover {
    color: #2298cc;
}

.sidenavLeft .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

 
.mainBackground
{
  background-image:url('/images/miror_bo.jpg');
  width: 100%; height:100%; background-size: cover;
  background-position: center;  background-repeat: no-repeat;
  background-size: contain;
  

}
.bg {
    /* The image used */
    background-image: url("/images/miror_bo.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.headerButton
{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}


.transparent
{
  background:rgba(255,255,255,0.5);
}

.btn-file input[type=file] {

    min-width: 100%;
    min-height: 100%;
   
   
}

.textContainer 
{
    vertical-align: middle;
    display: inline-block;
}

.background_transparent_image
{
    background-image: url("/images/background_gray_transparent.png");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.backgroundNeutralDiv
{
   background-color: rgba(43, 38, 38, 0.05);
}

.search {
  width: 100%;
  position: relative
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  position: absolute;  
  right: -50px;
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.btn-sq-lg {
  width: 150px !important;
  height: 150px !important;
}

.btn-sq {
  width: 90px !important;
  height: 90px !important;
  font-size: 12px;
}

.btn-sq-sm {
  width: 50px !important;
  height: 50px !important;
  font-size: 10px;
}

.btn-sq-xs {
  width: 25px !important;
  height: 25px !important;
  padding:2px;
}


/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-primary:hover, .btn-primary:active, .btn-primary:visited 
{
    

}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
  select,
  textarea,
  input {
    font-size: 16px;
  }
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #430e58;
}


.modal {
  overflow-y:auto;
}