.msg_main{
  background-color:#ffff;
  border-left:5px solid #F5F8FA;
  position: absolute;
  left: calc(25%);
}
.msg_right{
  background-color:#ffff;
  border-left:5px solid #F5F8FA;
  min-height:600px;
  position:fixed;
  right:0px
}
.msgDiv{
 position:fixed; left:0
}
.left-sidebar li { padding:10px;
  border-bottom:1px solid #ddd;
list-style:none; margin-left:-20px}
.msgDiv li:hover{
  cursor:pointer;
}