
.profile_empty
{
	background-image: url("/images/profile_picture_empty_background.png");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 570px ;
     @media (max-width: 575.98px) {  height: 150px };
 }

 .cover_empty
 {
    width:100%; height: 400px; @media (max-width: 575.98px) {  height: 250px };
   
    background-color:rgba(253, 241, 255, 0.25);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius:10px;

 }


.profile_picture_empty
{
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:rgba(253, 241, 255, 0.25);
   
     @media (max-width: 575.98px) {  height: 220px };    
    height: 370px; 
}
